.App {
	font-family: "Courier New", Courier, monospace;
	display: flex;
	flex-direction: column;
	padding: 30px;
	font-size: 20px;
}

.App h1 {
	font-weight: bold;
	text-align: center;
}

.information {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
}

.information input {
	width: 300px;
	margin-bottom: 10px;
	font-size: 20px;
	padding-left: 10px;
	font-family: "Courier New", Courier, monospace;
}

.information button {
	width: 300px;
	height: 50px;
}

hr {
	width: 100%;
}

.table {
	margin-top: 20px;
}
